.btn .btn-primary {
  color: white;
  background-color: #6F78F9;
  border-color: #6F78F9;
  border-radius: 6px;
}

.btn-primary {
  color: white;
  background-color: #6F78F9;
  border-color: #6F78F9;
  border-radius: 6px;
}