pyproj
geopandas
rasterio
scipy
pystac-client
requests
matplotlib
xarray
rioxarray
netcdf4
pystac
stackstac
odc-stac
tqdm
joblib
seaborn
scikit-learn
torchvision
xgboost
contextily
earthdaily
folium
mapclassify
python-dotenv